body {
    background-color: #444;
    color: white;
    margin: 20px;
    font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}