.square {
    background-color: #444;
    color: white;
    border: 1px solid #999;
    padding: 0;
    font-size: 84px;
    text-align: center;
    width: 200px;
    height: 200px;
}

.square:focus {
    outline: none;
    background-color: #222;
}

.status {
    margin: 20px;
    font-size: 24px;
}